{% extends 'main.html' %}

{% block content %}

<!-- Registered events area start -->
<section class="registered-event-area">
    <div class="container">
        <div class="rs-e-title-name">
            <h4>Hi, {{user.first_name}}</h4>
        </div>
        <div class="rs-e-title">
            <h2>Registered events</h2>
            <a href="{% url 'registrations' %}">View</a>
        </div>
        <div class="ac-page-even-title">
            <h2>All Events</h2>
            {% if created_events %}
                {% for event in created_events %}
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="ac-page-event-wrapper">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="ac-even-left-img">
                                <img src="{{ event.featured_image.url }}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ac-even-middle-item">
                                <ul class="event-date">
                                    <li>{{event.date_time}}</li>
                                </ul>
                                <h2>{{event.name}}</h2>
                                <p>{{event.description}}</p>
                                <h5>{{event.location}}</h5>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ac-even-right-item">
                                <ul class="ac-even-edits-dl-icon">
                                    <li><a href="{% url 'edit_event' event.id %}"><img src="images/edit.svg" alt=""></a></li>
                                    <li><a href="{% url 'delete_event' event.id %}"><img src="images/trash.svg" alt=""></a></li>
                                </ul>
                                <ul class="ac-even-prices">
                                    <li>{{ num_attending }} people registered</li>
                                    <li>{{ event.price }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>You have not created any events yet.</p>
    {% endif %}
    </div>
</section>
<!-- Registered events area end -->
{% endblock %}
