<!DOCTYPE html>
<html lang="en-US">
	<head>
		<!-- Meta setup -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="">
		<meta name="decription" content="">
		<meta name="author" content="Manik-it">

		<!-- Title -->
		<title>Welcome</title>
		<!-- Fav Icon -->
		<link rel="icon" href="images/fav.png"/>	
		<!-- Include Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<!-- Main StyleSheet -->
		<link rel="stylesheet" href="style.css"/>	
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="css/responsive.css"/>	
		
	</head>
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

		<!-- nev area start -->
		<header>
			<div class="container ">
				<nav>
					<div class="logo-search-wrapper">
						<div class="menu-logo">
							<a href="#" class="logo"><img src="images/logo.svg" alt="logo"></a>
						</div>
						<div class="header-search-item">
							<input type="search" placeholder="Search for an event">
						</div>
					</div>
					<div class="header-profile-and-event">
						<div class="menu-btn">
							<ul>
								<li><a href="#"><img src="images/plus.svg" alt=""> Create an event</a></li>
							</ul>
						</div>	
						<div class="header-profle">
							<div class="dropdown">
								<div  data-bs-toggle="dropdown" aria-expanded="false">
								<ul class="h-profile-item">
									<li><img src="images/user.svg" class="img-fluid" alt=""></li>
									<li>osc@gmail.com</li>
									<li><img src="images/down-arrow.svg" alt=""></li>
								</ul>
								</div>
							  
								<ul class="dropdown-menu">
								  <li><a class="dropdown-item" href="#">My Account</a></li>
								  <li><a class="dropdown-item" href="#">Profile Settings</a></li>
								  <li><a class="dropdown-item" href="#">Log out</a></li>
								</ul>
							  </div>
						</div>
						<div class="menu-bar">
							<a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
								<i class="fa fa-bars" aria-hidden="true"></i>
							 </a>
						</div>					
					</div>
				</nav>
			</div>
		</header>
		<!--nev area start-->

		  <!-- offcanvas-area-start -->
		  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel"><a href="index.html"><img src="images/logo.svg" class="img-fluid" alt="logo"></a></h5>
                <a class="clloss-x" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-x"></i></a>
            </div>
            <div class="offcanvas-body">
                <div class="mobile-menu-item">
                    <div class="menu-btn mobile-menu-btn">
						<div class="header-search-item mobile-search-item">
							<input type="search" placeholder="Search for an event">
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- offcanvas-area-end -->

		<!-- Registered events area start -->
		<section class="registered-event-area">
			<div class="container">
				<div class="rs-e-title">
					<h2>Registered events</h2>
					<a href="#">View</a>
				</div>
				<div class="ac-page-even-title">
					<h2>All Events</h2>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-6">
						<div class="ac-page-event-wrapper">
							<div class="row">
								<div class="col-lg-3">
									<div class="ac-even-left-img">
										<img src="images/event4.png" class="img-fluid" alt="">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="ac-even-middle-item">
										<ul class="event-date">
											<li>March 23, 2023</li>
											<li>2:00PM</li>
										</ul>
										<h2>Visual Painting Room Exhibition</h2>
										<p>This guide will walk you through how to add a payout method to your event if you're selling tickets using Eventbrite's Payment Processing.</p>
										<h5>RDS Main Arena, Ballsbridge.</h5>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="ac-even-right-item">
										<ul class="ac-even-edits-dl-icon">
											<li><a href="#"><img src="images/edit.svg" alt=""></a></li>
											<li><a href="#"><img src="images/trash.svg" alt=""></a></li>
										</ul>
										<ul class="ac-even-prices">
											<li>15 Attendees registered</li>
											<li><a href="#">25 Euros</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</section>
		<!-- Registered events area end -->

		<!-- footer-area-start -->
		<footer>
			<div class="container">
				<ul>
					<li>Developed by Easlo</li>
					<li><a href="#">Eventshark</a></li>
				</ul>
			</div>
		</footer>
		<!-- footer-area-end -->
		
		<!-- Main jQuery -->
		<script src="js/jquery-3.6.0.min.js"></script>		
		<!-- Bootstrap Js -->
		<script src="js/bootstrap.bundle.min.js"></script>
		<!-- Fontawesome Script -->
		<script src="https://kit.fontawesome.com/e7f2043049.js"></script>
		<!-- Custom jQuery -->
		<script src="js/scripts.js"></script>
		<!-- Scroll-Top button -->
		<a href="#" class="scrolltotop"><i class="fas fa-angle-up"></i></a>
	</body>
</html>