{% extends 'main.html' %}

{% load static %}  #load static

{% block content %}

<!--single-event-area start -->
<section class="single-event-area">
  <div class="container">
    <div class="single-event-inner">
      <div class="singel-event-img">
        <img src="{{ event.featured_image.url }}" class="img-fluid" alt="img">
      </div>
      <div class="singel-event-content">
        <div class="sng-date">
          <ul class="event-date">
            <li>{{event.date_time}}</li>
          </ul>
          <p>{{ num_attending }} people registered</p>
        </div>
        <h2>{{event.name}}</h2>
        <h5>{{ event.price }}</h5>
        <p>{{event.description}}</p>

        <div class="locations">
          <ul>
            <li><img src="images/map-pin.svg" alt=""> Location</li>
            <li>{{event.location}}</li>
          </ul>
        </div>
      </div>
      <div class="Attend-event-btndss">
        <a href="{%url 'attend' event.id%}">Attend Event</a>
      </div>
    </div>
    
  </div>
</section>
<!--single-event-area end -->
{% endblock content %}