<!DOCTYPE html>
<html lang="en-US">
	<head>
		<!-- Meta setup -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="">
		<meta name="decription" content="">
		<meta name="author" content="Manik-it">
		
		<!-- Title -->
		<title>Welcome</title>
		
		<!-- Fav Icon -->
		<link rel="icon" href="images/fav.png" />	

		<!-- Include Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		
		<!-- Main StyleSheet -->
		<link rel="stylesheet" href="style.css" />	
		
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="css/responsive.css" />	
		
	</head>
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

		<!-- ==== nev area start===== -->

		<header>
			<div class="container ">
				<nav>
					<div class="logo-search-wrapper">
						<div class="menu-logo">
							<a href="#" class="logo"><img src="images/logo.svg" alt="logo"></a>
						</div>
						<div class="header-search-item">
							<input type="search" placeholder="Search for an event">
						</div>
					</div>
					
					
					<div class="menu-btn">
						<ul>
							<li><a href="#">Sign up</a></li>
							<li><a href="#">Log in</a></li>
						</ul>
					</div>
					<div class="menu-bar">
						<a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
							<i class="fa fa-bars" aria-hidden="true"></i>
						 </a>
					</div>
				</nav>
			</div>
		</header>

		<!-- ==== nev area start===== -->

		  <!-- offcanvas-area-start -->
		  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel"><a href="index.html"><img src="images/logo.svg" class="img-fluid" alt="logo"></a></h5>
                <a class="clloss-x" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-x"></i></a>
            </div>
            <div class="offcanvas-body">
                <div class="mobile-menu-item">
                    <div class="menu-btn mobile-menu-btn">
						<div class="header-search-item mobile-search-item">
							<input type="search" placeholder="Search for an event">
						</div>
						<ul>
							<li><a href="#">Sign up</a></li>
							<li><a href="#">Log in</a></li>
						</ul>
					</div>
                </div>
            </div>
        </div>
        <!-- offcanvas-area-end -->

		<!-- hero-area-start -->
		<section class="hero-area">
			<div class="container">
				<h2>The Ultimate Event Creation Platform <br> to Host Your Events</h2>
				<p>Whether you're planning a small gathering or a large conference, our platform <br> offers all the tools you need to make your event a success.</p>
				<div class="hero-btn">
					<a href="#">Create an event</a>
				</div>
			</div>
		</section>
		<!-- hero-area-end -->

		<!-- Categories and all events area start -->
			<section class="categories-and-events-area">
				<div class="container">
					<div class="ct-title">
						<h2>Categories</h2>
					</div>
					<div class="categories-row">
						<ul>
							<li><a href="#"><img src="images/ct-1.svg" alt="">Music</a></li>
							<li><a href="#"><img src="images/ct-2.svg" alt="">Tech</a></li>
							<li><a href="#"><img src="images/ct-3.svg" alt="">Business</a></li>
							<li><a href="#"><img src="images/ct-4.svg" alt="">Food & Eat</a></li>
							<li><a href="#"><img src="images/ct-5.svg" alt="">Health</a></li>
							<li><a href="#"><img src="images/ct-6.svg" alt="">Hobbies</a></li>
							<li><a href="#"><img src="images/ct-7.svg" alt="">Sports & Fitness</a></li>
							<li><a href="#"><img src="images/ct-6.svg" alt="">Visual Arts</a></li>
						</ul>
					</div>

					<div class="events-wrapper overflow-hidden">
						<div class="ct-title">
							<h2>All Events</h2>
						</div>
						<div class="row g-5">
							<div class="col-md-6 col-lg-3 col-sm-6">
								<div class="events-items">
									<div class="events-img"><img src="images/event1.png" class="img-fluid" alt=""></div>
									<div class="events-items-content">
										<h2>Introducing AI to Business Intelligence</h2>
										<ul class="event-date">
											<li>March 23, 2023</li>
											<li>2:00PM</li>
										</ul>
										<p>RDS Main Arena, Ballsbridge.</p>
										<ul class="event-people">
											<li><a href="#">0.00</a></li>
											<li>25 people registered</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 col-sm-6">
								<div class="events-items">
									<div class="events-img"><img src="images/event2.png" class="img-fluid" alt=""></div>
									<div class="events-items-content">
										<h2>Food Banks Event</h2>
										<ul class="event-date">
											<li>March 23, 2023</li>
											<li>2:00PM</li>
										</ul>
										<p>Tamangos,  Portmarnock</p>
										<ul class="event-people">
											<li><a href="#">0.00</a></li>
											<li>25 people registered</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 col-sm-6">
								<div class="events-items">
									<div class="events-img"><img src="images/event3.png" class="img-fluid" alt=""></div>
									<div class="events-items-content">
										<h2>7th Annual National Constructure Summit</h2>
										<ul class="event-date">
											<li>March 23, 2023</li>
											<li>2:00PM</li>
										</ul>
										<p>RDS Main Arena, Ballsbridge.</p>
										<ul class="event-people">
											<li><a href="#">0.00</a></li>
											<li>25 people registered</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 col-sm-6">
								<div class="events-items">
									<div class="events-img"><img src="images/event4.png" class="img-fluid" alt=""></div>
									<div class="events-items-content">
										<h2>Visual Painting Room Exhibition</h2>
										<ul class="event-date">
											<li>March 23, 2023</li>
											<li>2:00PM</li>
										</ul>
										<p>RDS Main Arena, Ballsbridge.</p>
										<ul class="event-people">
											<li><a href="#">0.00</a></li>
											<li>25 people registered</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 col-sm-6">
								<div class="events-items">
									<div class="events-img"><img src="images/event5.png" class="img-fluid" alt=""></div>
									<div class="events-items-content">
										<h2>Hannover Free Medical Checkup </h2>
										<ul class="event-date">
											<li>March 23, 2023</li>
											<li>2:00PM</li>
										</ul>
										<p>RDS Main Arena, Ballsbridge.</p>
										<ul class="event-people">
											<li><a href="#">23.00</a></li>
											<li>25 people registered</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 col-sm-6">
								<div class="events-items">
									<div class="events-img"><img src="images/event6.png" class="img-fluid" alt=""></div>
									<div class="events-items-content">
										<h2>Burna Boy: The African Giant Tour</h2>
										<ul class="event-date">
											<li>March 23, 2023</li>
											<li>2:00PM</li>
										</ul>
										<p>Tamangos,  Portmarnock</p>
										<ul class="event-people">
											<li><a href="#">12.00</a></li>
											<li>25 people registered</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 col-sm-6">
								<div class="events-items">
									<div class="events-img"><img src="images/event7.png" class="img-fluid" alt=""></div>
									<div class="events-items-content">
										<h2>Cycling Marathon Dublin 2023</h2>
										<ul class="event-date">
											<li>March 23, 2023</li>
											<li>2:00PM</li>
										</ul>
										<p>RDS Main Arena, Ballsbridge.</p>
										<ul class="event-people">
											<li><a href="#">5.00</a></li>
											<li>25 people registered</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 col-sm-6">
								<div class="events-items">
									<div class="events-img"><img src="images/event8.png" class="img-fluid" alt=""></div>
									<div class="events-items-content">
										<h2>Outdoor Performing Arts & Demo</h2>
										<ul class="event-date">
											<li>March 23, 2023</li>
											<li>2:00PM</li>
										</ul>
										<p>RDS Main Arena, Ballsbridge.</p>
										<ul class="event-people">
											<li><a href="#">0.00</a></li>
											<li>25 people registered</li>
										</ul>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</section>
		<!-- Categories and all events area end -->

		<!-- footer-area-start -->
		<footer>
			<div class="container">
				<ul>
					<li>Developed by Easlo</li>
					<li><a href="#">Eventshark</a></li>
				</ul>
			</div>
		</footer>
		<!-- footer-area-end -->
		
		<!-- Main jQuery -->
		<script src="js/jquery-3.6.0.min.js"></script>		

		<!-- Bootstrap Js -->
		<script src="js/bootstrap.bundle.min.js"></script>

		<script>
			$(document).ready(function() {
				$( window ).scroll(function() {
					var height = $(window).scrollTop();
					if(height >= 100) {
						$('header').addClass('fixed-menu');
					} else {
						$('header').removeClass('fixed-menu');
					}
				});
			});
		</script>
		
		<!-- Fontawesome Script -->
		<script src="https://kit.fontawesome.com/e7f2043049.js"></script>
		
		<!-- Custom jQuery -->
		<script src="js/scripts.js"></script>
		
		<!-- Scroll-Top button -->
		<a href="#" class="scrolltotop"><i class="fas fa-angle-up"></i></a>
		
	</body>
</html>